
.BuildHeader {
  /* margin: auto; */
  
  
  height: 100%;
  color: #ccc;
  border: 3px solid #ccc;
  border-radius: 5%;
  padding: .72em;
  background-color: #666;
  font-weight: bold;
  text-align: center;
  margin-right: 7px;
}

.BuildHeader:hover {
  color: white;
  background-color: #888;
  cursor: pointer;
}

.BuildHeader:active {
  background-color: #777;
  /* border-color: tomato; */
}