
.BuildHeader {
  /* margin: auto; */
  
  display: flex;
  /* width: 100%; */
  /* height: 104%; */
  color: #aa6817;
  
  /* border-radius: 2%; */
  
  padding: .5rem 0;
  
  
  font-size: inherit;
  font-weight: bold;
  /* text-align: center; */
  letter-spacing: 0rem;
 
  /* position: relative; */
  
  
  text-transform: uppercase;
  /* z-index: 3; */
 
}

.Back {
  justify-self: flex-start;
  padding-left: 10px;
}

.Next {
  justify-self: flex-end;
  margin-left: auto;
  padding-right: 10px;
}

.BuildHeader:hover {
  color: #666;
  /* background-color: #888; */
  cursor: pointer;
}

.BuildHeader:active {
  /* background-color: #777; */
  /* border-color: tomato; */
 
}

/* .Label {
  
  padding: 0 .6em ;
  padding-bottom: .4em;
  
  
  align-self: flex-start;
  color: #333;
} */