
.BuildHeader {
  margin: 10px 0;
  display: block;
  width: 100%;
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 5%;
  padding: 3px 15px;
  margin: 0px 5px;
}

.BuildHeader:hover {
  color: green;
  border-color: green;
  cursor: pointer;
}