
.BuildHeader {
  /* margin: auto; */
  display: inline-block;
  
  height: 100%;
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 0%;
  padding: .72em;
 
  text-align: center;
}

.BuildHeader:hover {
  color: green;
  border-color: blue;
  cursor: pointer;
}