.BuildHeaders {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
/*   color: #ccc;
  background-color: blue; */
}

@media (min-width: 500px) {
  .BuildHeaders {
    flex-flow: row;
  }
}