.BuildHeaders {
  
  padding: 0px;
  
  list-style: None;
  display: flex;
  flex-flow: row;
  
  font-size: 1rem;
  align-content: flex-start;
  width: 100%;
  /* height: 50px; */
  justify-content: flex-start;
  justify-self: flex-start;
  color: #ccc;
  /* margin: 0 2.5% 0 2.5%; */
  border-bottom: 4px solid rgb(47, 43, 49);
 
  background-color: rgb(241, 232, 223);
  margin-bottom: 0;
  z-index: 3;
}

@media (min-width: 500px) {
  .BuildHeaders {
    justify-content: flex-start;
    font-size: 1.3rem
    /* flex-flow: row nowrap; */
  }
}