.BuildHeadersContainer {
  
  padding: 0px;
  /* display: grid;
  grid-template-areas: "back next" "heading heading";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr; */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  font-weight: bold;
  
  user-select: None;
  background-color: rgb(230, 221, 212);
  border: 4px solid rgb(47, 43, 49);
  border-bottom: none;
  /* z-index: 3; */
  position: relative;
}
.BuildHeaders {
  display: flex;
  width: 100%;
  color: rgb(230, 221, 212);
  text-align: center;
  background-color: rgb(47, 43, 49);
  /* justify-content: space-between; */
  white-space: pre;
}
.Heading {
  /* width: 100%; */
  padding: 5px;
  display: flex;
  font-size: 18px;
  /* padding-bottom: 10px; */
  
  font-weight: bolder;
  white-space: nowrap;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 3px solid #aa6817;
  /* border-top: 2px solid #ccc; */
  color: rgb(47, 43, 49);
  /* text-shadow: 0px 0px 4px rgb(184, 116, 8); */
  justify-self: center;
  align-self: center;
}

@media (min-width: 414px) {
  .BuildHeaders {
    
    font-size: 17px;
    
  }
  .Heading {
    font-size: 19px;
  }
}
@media (min-width: 768px) {
  .BuildHeaders {
    /* justify-content: left; */
    font-size: 17px;
    
  }
  .Heading {
    font-size: 24px;
  }
}
@media (min-width: 1079px) {
  .BuildHeaders {
    
    
  }
}