.BuildHeaders {
  
  padding: 0px;
  
  list-style: none;
  display: flex;
  flex-flow: row;
 
  
  /* align-items: left; */
  /* width: 90%; */
  /* height: 40px; */
  justify-content: center;
/*   color: #ccc;
  background-color: blue; */
}

@media (min-width: 500px) {
  .BuildHeaders {
    display: flex;
    /* flex-flow: row nowrap; */
  }
}