.BuildControl {
  display: grid;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  margin: 10px auto;
  padding: 15px 15px;
  border: 3px solid #ccc;
  /* width: 95%; */
}

button {
  /* display: flex;
  align-content: center;
  justify-content: center; */
  font: inherit;
  font-size: .75rem;
  height: 50px;
  border: 4px solid #D39952;
  cursor: pointer;
  outline: none;
  background-color: #aa6817;
  color: #eee;
  user-select: none;
  font-weight: bold;
  text-shadow: 0px 0px 4px rgb(37, 37, 37);
} 



button:disabled {
  /* background-color: #AC9980;
  border: 1px solid #7E7365; */
  color: #ccc;
  cursor: default;
}

button:hover {
  background-color: rgb(201, 146, 79);
  color: #ddd;
  
}

.ToggledOn {
  background-color: rgb(160, 45, 25);
  border-color: #D39952
}

.ToggledOn:hover {
  background-color: rgb(187, 54, 30);
  border-color: #D39952
}

.LEFT {  
  
  width: 35px;
  border-radius: 30px 0 0 30px;
  /* border-right: 1px solid transparent; */
}

.RIGHT {
  
  width: 35px;
  border-radius: 0 30px 30px 0;
}

.WHOLE {
   
  width: 50px;
  border-radius: 50%;
  margin: 0px 2em;
}

.EXTRA {
  
  margin: 0 .7em;
  border-radius: 15%;
}

.BuildControl .LEFT:hover, .BuildControl .LEFT:active {  
  background-color: #DAA972;
  color: white;
}

.BuildControl .RIGHT:hover,.BuildControl .RIGHT:active {
  background-color: #99703F;
  color: white;
}

.BuildControl .WHOLE:hover,.BuildControl .WHOLE:active {
  background-color: #99703F;
  color: white;
}