.Crust {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  margin: 2% auto;
  background: #ac6944;
  z-index: 0;
  
  margin-top: 40px;
  border: 3px solid #5a3119;
}

.CrustThin {
  width: 95%;
  height: 95%;
  background: rgb(199, 88, 4);
  position: relative;
  border-radius: 50%;
 /*  box-shadow: inset 3px 3px #5a3119; */
  border: 3px solid #8f4317;
  z-index: 1;
  top:10px;
  left: 10px;
}

.Sheet {
  border-radius: 5%;
  width: 90%;
  height: 50%;
}

.Sauce {

}