.BaseControls {
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-items: center;
  margin: 0px auto;
  margin-bottom: 0px;
  border: 3px solid rgb(47, 43, 49);
  border-top: None;
  border-bottom: None;
  padding-bottom: 20px;
  /* border-bottom: 4px solid #222; */
  border-Left:None;
  border-right: None;
  background-color: rgb(230, 221, 212);
  /* border-radius: 2%; */
  /* border-top: 6px solid #aaa; */
  width: 100%;
  position:relative;
  
}


select {
  padding: 4px 6px;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  margin: 10px auto;
  width: 80%;
  max-width: 250px;
  cursor: pointer;
}


.BaseControl {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-self: center;
  margin-top: 15px;
  width: 90%;
  
}

.Button {
  /* display: flex;
  align-content: center;
  justify-content: center;  */
  font: inherit;
  font-size: .75rem;
  margin: 0 1.5%;
  height: 3.5em;
  padding: 0 12px;
  border: 4px solid #D39952;
  border-radius: 9%;
  cursor: pointer;
  outline: None;
  background-color: #aa6817;
  color: #eee;
  user-select: None;
  font-weight: bold;
  text-shadow: 0px 0px 4px rgb(37, 37, 37);
} 



.Button:disabled {
  /* background-color: #AC9980;
  border: 1px solid #7E7365; */
  color: #ccc;
  cursor: default;
}

.Button:hover {
  background-color: rgb(201, 146, 79);
  color: #ddd;
  
}

.ToggledOn {
  background-color: rgb(160, 45, 25);
  border-color: #D39952
}

.ToggledOn:hover {
  background-color: rgb(187, 54, 30);
  border-color: #D39952
}